# Løkker og funksjonar

Grunnleggande Python til bruk i matematikk 1T.

## Løkker

Løkker (engelsk: *loops*) bruker me når for å repetera kode. Me ser på to ulike typar, `for` og `while`.

### `for`-løkke

`for`-løkker er nyttige når me veit kor mange gongar me skal repetera koden.

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [3]:
for i in range(2, 12, 2):
    print(i)

2
4
6
8
10

for-løkker er fine å bruka viss ein t.d. skal skriva ut elementa i ei liste kvar for seg:

In [4]:
namneliste = ["Lars", "Maria", "Tove", "Helge", "Torild", "Torrey"]

for namn in namneliste:
    print(namn)

Lars
Maria
Tove
Helge
Torild
Torrey

Eller viss me vil skriva ut alle teikna i eit ord eller i ein setning:

In [5]:
setning = "Amalie Skram vgs"

for bokstav in setning:
    print(bokstav)

A
m
a
l
i
e

S
k
r
a
m

v
g
s

Summere dei $n$ første naturlege tala

In [6]:
n = 9

total = 0

for i in range(1, n+1):
    total = total + i

print(total)

45

### `while`-løkke 

`while`-løkker bruker me når me ikkje veit kor mange repetisjonar me må ha for oppnå det resultatet me ønsker.

In [7]:
tal = 100

while tal > 1:
    tal = tal/2
    print(tal)

50.0
25.0
12.5
6.25
3.125
1.5625
0.78125

In [8]:
tal = 100

while tal > 1:
    print(tal)
    tal = tal/2

100
50.0
25.0
12.5
6.25
3.125
1.5625

## Funksjonar

Funksjonar i Python er ikkje det same som funksjonar i matematikk. Døme på ein funksjon i Python er `print()` som me har brukt ein del allereie. Me kan enkelt laga våre eigne funksjonar som ein del av programma våre. Til dømes ein funksjon som reknar omkrets av ein sirkel:

In [9]:
import numpy as np

def omkrets(radius):
    return 2*np.pi*radius

o = omkrets(10)
print(f"{o:.2f}")

62.83

Me kan òg laga funksjonar som tar inn fleire argument enn eitt. Me lagar ein funksjon som ser på prosentvis endring over tid:

In [10]:
def renter(beløp, rentefot, år):
    vf = 1+(rentefot/100)
    
    for i in range(år):
        beløp = beløp*vf
        
    return beløp

nytt_beløp = renter(10000, 5, 12)
print(f"Beløpet har vokst til {nytt_beløp:.2f} kr")

Beløpet har vokst til 17958.56 kr

# Oppgåver

Oppgåvene under skal løysast med programmering:

## Oppgåve 1

Lag eit program som skriv ut dei 10 første kubikktala

In [11]:
for i in range(1, 11):
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

## Oppgåve 2

Lag eit program som finn summen av dei 100 første partala

In [12]:
# alternativ 1
summen = 0

for i in range(1, 101):
    summen += 2*i
    
print(summen)

10100

In [13]:
# alternativ 2
summen = 0

for i in range(2, 201, 2):
    summen += i
    
print(summen)

10100

## Oppgåve 3

Lag eit program som skriv ut alle tal mellom 1 og 100 som er deleleg med både 3 og 4

In [14]:
for i in range(1, 101):
    if (i%3==0) and (i%4==0):
        print(i)

12
24
36
48
60
72
84
96

## Oppgåve 4

Du set inn 15 000 kroner på ein konto til 3 % rente. Kor mange år må pengane stå på konto før du har 50 000 kr?

In [15]:
beløp = 15000
vf = 1.03
år = 0

while beløp < 50000:
    beløp = beløp*vf
    år = år + 1

print(f"Etter {år} år er det {beløp:.2f} kr på konto")

Etter 41 år er det 50398.48 kr på konto

## Oppgåve 5

Skriv ut alle kvadrattala som er mindre enn 200.

In [16]:
i = 1

while i**2 < 200:
    print(i**2)
    i = i + 1

1
4
9
16
25
36
49
64
81
100
121
144
169
196

## Oppgåve 6

Lag ein funksjon som reknar ut arealet av ein trekant. Funksjonen skal ta inn grunnflate og høgde som argument, og returnera arealet. 
Test funksjonen på ulike trekantar.

In [17]:
def areal_trekant(grunnlinje, høgde):
    return (grunnlinje*høgde)/2

print(areal_trekant(5, 4))
print(areal_trekant(5, 7))

10.0
17.5